USE [master]
GO
/****** Object:  Database [CodeFirstFDB]    Script Date: 12-10-2021 10:43:54 AM ******/
CREATE DATABASE [CodeFirstFDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeFirstFDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CodeFirstFDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CodeFirstFDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CodeFirstFDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeFirstFDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeFirstFDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12-10-2021 10:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductMasters]    Script Date: 12-10-2021 10:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMasters](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductMasters] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ProductMasters] ON 

INSERT [dbo].[ProductMasters] ([ProductId], [ProductName], [CategoryId], [CategoryName]) VALUES (6, N'ASP .NET', 6, N'book')
INSERT [dbo].[ProductMasters] ([ProductId], [ProductName], [CategoryId], [CategoryName]) VALUES (7, N'Java', 7, N'book')
INSERT [dbo].[ProductMasters] ([ProductId], [ProductName], [CategoryId], [CategoryName]) VALUES (12, N'c#', 1, N'book')
SET IDENTITY_INSERT [dbo].[ProductMasters] OFF
USE [master]
GO
